:root {
    --primary-purple: #8a2be2;
    --dark-purple: #4a148c;
    --darker-purple: #170330;
    --dark-bg: #121212;
    --darker-bg: #0a0a0a;
    --light-text: #e0e0e0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--dark-bg);
    color: var(--light-text);
}

.bg-primary {
    background-color: var(--darker-purple) !important;
}

/* ----------Navbar---------- */

.navbar {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0)
    ) !important;
    padding: 20px 0px !important;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar-nav.center-menu {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-brand,
.nav-link {
    color: var(--light-text) !important;
    font-weight: 600;
    font-size: 1.15rem;
    padding: 5px 15px !important;
}

.nav-link:hover {
    color: var(--primary-purple) !important;
}

.active {
    color: var(--primary-purple) !important;
}

.btn-primary {
    background-color: var(--dark-bg);
    border: var(--primary-purple) solid 2px;
    box-shadow: 0 5px 15px rgba(138, 43, 226, 0.7);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    color: var(--primary-purple);
    background-color: var(--darker-purple);
    border-color: var(--dark-purple);
    box-shadow: 0 10px 20px rgba(138, 43, 226, 0.7);
    transition: all 0.3s ease-in-out;
}

.btn-primary.active {
    background-color: var(--darker-purple);
    border-color: var(--light-text);
}

/* ----------Hero----------*/

.hero {
    min-height: 100vh;
}

.home-bg {
    background-image: url("../homepage-images/home-header.jpg");
    background-size: cover;
    background-position: center;
}

.about-bg {
    background-image: url("../about-page/about-page-header.jpg");
    background-size: cover;
    background-position: center;
}

.contact-bg {
    background-image: url("../contact-page/contact-header.jpg");
    background-size: cover;
    background-position: center;
}

.learn-hero {
    background-image: url("../learn-page/learn-header.jpg");
    background-size: cover;
    background-position: center;
}
.hero-container {
    padding-top: 35vh;
}

.hero img {
    width: 700px;
    padding-bottom: 15px;
    transition: 0.5s ease-in-out;
}

.hero img:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.hero p {
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: var(--darker-bg) 1px 1px 2px;
}

.hero a {
    font-weight: 500;
    text-shadow: var(--darker-bg) 1px 1px 2px;
    padding: 10px 20px;
    box-shadow: var(--darker-bg) 0px 0px 5px;
}

/* ----------Features---------- */

.feature-bg {
    background-image: url(../homepage-images/home-footer-1.jpg) !important;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
}

.feature-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
}

.feature-heading {
    text-shadow: var(--light-text) 1px 1px 2px;
    padding-top: 70px;
}

.feature-icon {
    color: var(--primary-purple);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.feature-card {
    background-color: var(--darker-bg);
    padding: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

/* ----------CTA Section---------- */

.cta-section {
    background-image: url(../homepage-images/home-footer-2.jpg) !important;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
}

.cta-overlay {
    background: rgba(0, 0, 0, 0.8);
    min-height: 60vh;
}

/* ------------Mission--------- */

.mission {
    min-height: 60vh;
    background-image: url(../about-page/about-page-image-1.jpg);
    background-size: cover;
    background-position: bottom;
}

.mission p {
    font-size: larger;
    padding: 40px 100px;
}

/* ------------Values---------- */

.values {
    min-height: 60vh;
    background-image: url(../about-page/about-page-image-2.jpg);
    background-size: cover;
    background-position: center;
}

/* ------------Team Section----------- */

.team {
    min-height: 60vh;
    background-image: url(../blog-images/blog-1.jpg);
    background-size: cover;
    background-position: center;
}

/* ------------Login----------*/

.login-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../login-images/login-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem 0 2rem 0;
    min-height: calc(100vh - 180px);
}
.login-card {
    background-color: var(--dark-bg);
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(138, 43, 226, 0.7);
    min-width: auto;
    max-width: 500px;
    margin: 0 auto;
    border: var(--primary-purple) solid 2px;
}

.terms-text {
    font-size: 0.875rem;
    color: #6c757d;
}

.input {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--dark-bg);
    border-radius: 10px !important;
    border: var(--primary-purple) solid 2px !important;
    box-shadow: 0px 5px 15px rgba(138, 43, 226, 0.7) !important;
    color: var(--light-text);
    transition: all 0.3s ease-in-out;
}

.input:hover {
    color: var(--primary-purple);
    transition: all 0.3s ease-in-out;
    background-color: var(--darker-purple) !important;
    box-shadow: 0px 10px 25px rgba(138, 43, 226, 0.7) !important;
}

.input:focus {
    color: var(--light-text);
    transition: all 0.3s ease-in-out;
    background-color: var(--darker-purple) !important;
    box-shadow: 0px 10px 25px rgba(138, 43, 226, 0.7) !important;
    border: var(--light-text) solid 2px !important;
}

.input::placeholder {
    color: #999da1;
}
/* ------------Register---------- */

.text-color-primary {
    color: var(--primary-purple);
}

/* ------------Profile---------- */

.profile-section {
    padding: 6rem 0 2rem 0;
}

.profile-card {
    background-color: var(--dark-bg);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(138, 43, 226, 0.7);
    min-width: auto;
    margin: 0 auto;
    border: var(--primary-purple) solid 2px;
}

.profile-header {
    color: white;
    padding-top: 2rem;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0px 5px 15px rgba(138, 43, 226, 0.7);
}

.dark-tabs {
    color: var(--light-text);
    border-bottom: 0px !important;
}

.tab-content {
    border-top: 0px !important;
}

.nav-item-custom {
    margin-left: 10px !important;
}
.nav-link-custom {
    border: 2px solid var(--primary-purple) !important;
    color: var(--light-text) !important;
    background-color: var(--darker-purple) !important;
    border-bottom: 0px !important;
    box-shadow: 0px 5px 15px rgba(138, 43, 226, 0.7) !important;
    transition: all 0.3s ease-in-out;
    z-index: 1000 !important;
}

.nav-link-custom:hover {
    border-color: var(--dark-purple) !important;
    box-shadow: 0px 10px 25px rgba(138, 43, 226, 0.7) !important;
    background-color: var(--darker-bg) !important;
    color: var(--primary-purple) !important;
    transition: all 0.3s ease-in-out;
}

.nav-link-custom.active {
    background-color: var(--darker-bg) !important;
    border-color: var(--light-text) !important;
    color: var(--primary-purple) !important;
}

.tab-content {
    background-color: var(--darker-bg) !important;
    border-radius: 0 0 13px 13px !important;
    z-index: 0 !important;
    border-top: var(--primary-purple) solid 2px !important;
    box-shadow: inset 0px 5px 15px rgba(138, 43, 226, 0.7) !important;
}

.dark-border {
    border: 3px solid var(--dark-bg) !important;
    background-color: var(--light-text) !important;
    border-radius: 20px !important;
    padding-left: 20px !important;
}

/* ------------Footer---------- */

footer {
    background-color: var(--darker-bg) !important;
    color: var(--light-text);
}

footer a {
    color: var(--light-text) !important;
}

footer a:hover {
    color: var(--primary-purple) !important;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.text-muted {
    color: #999da1 !important;
}

/* ------------Item---------- */

.item-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
}

.pgn {
    justify-content: center;
}

.pgn li {
    display: inline-block;
}

.pgn li a {
    color: var(--light-text);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark-bg);
    border: var(--primary-purple) solid 2px;
    box-shadow: 0px 5px 10px rgba(138, 43, 226, 0.7) !important;
}

.pgn li a:hover {
    color: var(--primary-purple);
    transition: all 0.3s ease-in-out;
    background-color: var(--darker-purple) !important;
    box-shadow: 0px 10px 15px rgba(138, 43, 226, 0.7) !important;
    border: var(--dark-purple) solid 2px;
}

.pgn li.page-item.active span {
    color: var(--primary-purple) !important;
    background-color: var(--darker-purple) !important;
    border: var(--dark-purple) solid 2px !important;
}

.pgn li.disabled span {
    color: var(--primary-purple);
    background-color: var(--dark-bg);
    border: var(--dark-purple) solid 2px;
    cursor: not-allowed;
}

.mbi-0 {
    margin-bottom: 0 !important;
}

.pyi-3 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.card-title {
    color: white;
    transition: all 0.3s ease-in-out;
}

.card-title:hover {
    color: var(--primary-purple);
    transition: all 0.3s ease-in-out;
}

.btn-del {
    background-color: var(--dark-bg);
    border: rgb(209, 44, 44) solid 2px;
    box-shadow: 0 5px 15px rgba(209, 44, 44, 0.7);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.btn-del:hover {
    color: rgb(209, 44, 44);
    background-color: rgb(49, 2, 2);
    border-color: rgb(145, 20, 20);
    box-shadow: 0 10px 20px rgba(145, 20, 20, 0.7);
    transition: all 0.3s ease-in-out;
}

/* -----------------transitions---------------- */

.animate-on-scroll {
    opacity: 0;
    transition: all 0.5s ease-out;
}

/* Different animation classes */
.fade-in {
    opacity: 0;
}

.slide-up {
    opacity: 0;
    transform: translateY(50px);
}

.slide-left {
    opacity: 0;
    transform: translateX(-50px);
}

.slide-right {
    opacity: 0;
    transform: translateX(50px);
}

/* Active states when element is visible */
.fade-in.shown {
    opacity: 1;
}

.slide-up.shown {
    opacity: 1;
    transform: translateY(0);
}

.slide-left.shown {
    opacity: 1;
    transform: translateX(0);
}

.slide-right.shown {
    opacity: 1;
    transform: translateX(0);
}

/* Optional animation delay classes */
.delay-200 {
    transition-delay: 200ms;
}
.delay-400 {
    transition-delay: 400ms;
}
.delay-600 {
    transition-delay: 600ms;
}

/* ----------Media Queries---------- */

@media (max-width: 991.98px) {
    .navbar-nav.center-menu {
        position: static;
        transform: none;
    }
}
